<div class="row text-warning">
  <div class="col-3">
    <h4 class="m-3">Dodaj hasła do krzyżówki:</h4>
    <form [formGroup]="form">
      <input class="form-control w-75 mt-3  ms-3 text-warning border-warning" formControlName="word" id="word">
      <button type="button" class="btn btn-warning m-3 w-75" [disabled]="form.invalid" (click)="addWordToList()">
        Dodaj
      </button>
    </form>
    <ul class="list-group mt-3">
      <li class="list-group-item mx-3 w-75 border-warning text-warning" style="line-height: 38px"
          *ngFor="let wordList of _crossWordF.wordList">
        <div class="row">
          <div class="col-8 text-break">{{wordList.word}}</div>
          <div class="col-2">
            <button (click)="showQuestion(wordList.word)" class="btn">
              <div [ngSwitch]="wordList.questionState">
                <i class="fa-solid fa-file-pen text-danger" *ngSwitchCase="'NotFound'"></i>
                <i class="fa-solid fa-file-pen text-warning" *ngSwitchCase="'Found'"></i>
                <i class="fa-solid fa-file-pen text-success" *ngSwitchCase="'Revieved'"></i>
                <i class="fa-solid fa-file-pen" *ngSwitchDefault></i>
              </div>
            </button>
          </div>
          <div class="col-2">
            <button (click)="removeWordFromList(wordList.word)" class="btn">
              <i class="fa-solid fa-circle-xmark text-danger"></i>
            </button>
          </div>
        </div>
      </li>
      <div [ngSwitch]="_crossWordF.answer">
        <li class="list-group-item mx-3 mt-3 w-75 border-danger text-danger border-top text-center"
            style="line-height: 38px"
            *ngSwitchCase="''">Podano za mało haseł!
        </li>
        <li class="list-group-item mx-3 mt-3 w-75 border-danger text-danger border-top text-center"
            style="line-height: 38px"
            *ngSwitchCase="'ANSWER_NOT_FOUND'">Nie znaleziono hasła!
        </li>
        <li class="list-group-item mx-3 mt-3 w-75 border-success text-success border-top text-center"
            style="line-height: 38px"
            *ngSwitchDefault>{{_crossWordF.answer}}
        </li>
      </div>
    </ul>
  </div>
  <div class="col-6 border-1 border-warning border-start border-end m1 mt-4" [ngSwitch]="formT.controls.type.value">
    <div class="w-100" *ngSwitchCase="'CrossWordF'">

      <div *ngIf="_crossWordF.answer!=''&&_crossWordF.answer!='ANSWER_NOT_FOUND'"
           class="w-100">
        <div *ngFor="let word of _crossWordF.wordList">
          <div *ngFor="let item of [].constructor(this.word.spaceNumber)" style="width: 50px; height: 50px"
               class="d-inline-block btn"></div>
          <div style="width: 50px; height: 50px; line-height: 50px; "
               class="btn btn-warning d-inline-block border-1 border border-dark p-0 m-0"
               *ngFor="let letter of word.word.split(''); let i= index">
            <p *ngIf="i==word.indexOfLetter" class="text-danger" style="font-weight: 900;">{{letter}}</p>
            <p *ngIf="i!=word.indexOfLetter">{{letter}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" *ngSwitchCase="'CrossWordS'">
      <p class="tex-center">drugi typ: #TODO</p>
    </div>
  </div>
  <div class="col-3 mt-4">
    <form [formGroup]="formT">
      <select formControlName="type" class="form-select w-75 border-warning text-warning"
              aria-label="Default select example">
        <option selected value="CrossWordF">Belkowa</option>
        <option value="CrossWordS">Krzyżak</option>
      </select>

      <button type="button" class="btn btn-warning w-75 mt-3">Publikuj
      </button>
      <br>
      <button type="button" class="btn btn-warning w-75 mt-3">Drukuj
      </button>
    </form>
  </div>
</div>
<div class="row w-100">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <form [formGroup]="formS" *ngIf="displayedQuestion != -1">
      <input class="form-control w-75 m-3 text-warning border-warning" formControlName="question" id="question"
             (keydown)="updateQuestion()">
    </form>
  </div>
  <div class="col-4"></div>
</div>

